/*.cart-box {*/
/*	display: block;*/
/*	width: 30px;*/
/*	padding: 4px 8px 4px 8px;*/
/*	border-radius: 30px;*/
/*	color: #fff;*/
/*	font-family: Arial;*/
/*	font-size: 16px;*/
/*	text-decoration: none;*/
/*	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32);*/
/*	margin-right: auto;*/
/*	margin-left: auto;*/
/*	font-weight: bold;*/
/*}*/

.shopping-cart-box{
	position: fixed;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	max-width: 450px;
	color: #000000;
	background: #f0f0f0;
	border-radius: 4px;
	padding: 10px;
	font: small Verdana, Geneva, sans-serif;
	margin-top: 10px;
	display: none;
	z-index: 1000;
}
.shopping-cart-box h3{
	text-align: center;
	font-size: 20px;
}
.shopping-cart-box a{
	color: #F0c2c2;
	text-decoration:none;
}
.shopping-cart-box:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-bottom: 8px solid rgb(240, 240, 240);
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.shopping-cart-box ul.cart-products-loaded{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}
.shopping-cart-box .close-shopping-cart-box{
	float: right;
}

#shopping-cart-results ul.cart-products-loaded li{
	background: #f0f0f0;
	margin-bottom: 1px;
	padding: 6px 4px 6px 10px;
}
ul.cart-products-loaded{
	max-height: 120px;
	overflow-y: auto;
	-ms-overflow-y: auto;
}
div.cart-results-container{
	max-height: 300px;
	overflow-y: auto;
	-ms-overflow-y: auto;
}
#shopping-cart-results{
	/*overflow-y: scroll;*/
	max-height: 300px;
}
.shopping-cart-box .remove-item{
	float:right;
	text-decoration:none;
}
.fa-trash:before{
	font-size: 12px;
	color: #6c6c6c;
}
.fa-thumbtack:before{
	font-size: 10px;
	color: #6c6c6c;
}
.visible-cart-hr{
	/*border: 20px;*/
	/*height: 1px;*/
	color: lightgrey;
	background-color: lightgray;
}
h.hidden-hr{
	border: none;
	height: 0px;
}
.shopping-cart-box .cart-products-total{
	font-weight: bold;
	text-align: right;
	padding: 5px 0px 0px 5px;
}
.shopping-cart-box .cart-products-total a{
	text-decoration: none;
	color: #337ab7;
}
.shopping-cart-box h3{
	margin: 0;
	padding: 0px 0px 5px 0px;
}

hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
a.remove-cartpage-item{
	text-decoration: none;
	font-size: 15px;
	color: indianred;
}
.fa-trash:before{
	color: indianred;
}